header {
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  // z-index: 1;
  .nav {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    .logo {
      width: 85px;
      a {
        position: relative;
        top: 20px;
        img {
          height: 26px;
          width: 85px;
        }
      }
    }
    .nav-bar {
      margin-left: 150px;
      ul {
        li {
          text-align: center;
          float: left;
          width: 110px;
          height: 70px;
          font-size: 14px;
          font-weight: 700;
          &:hover {
            color: #0c5ca8;
          }
          &:hover .li-d {
            display: block;
          }
          .li-d {
            width: 100px;
            display: none;
            position: absolute;
            top: 60px;
            // border: 1px solid black;
            background-color: #f6f6f6;
            text-align: center;
            z-index: 2;
            i {
              width: 100px;
              height: 10px;
              display: block;
              background-color: #0c5ca8;
            }
            dl {
              dt {
                text-align: center;
                height: 30px;
                margin-top: 15px;
                &:hover {
                  background-color: #fff;
                }
                a {
                  line-height: 30px;
                  color: black;
                  font-weight: 100;
                }
                &:hover a {
                  color: #0c5ca8;
                }
              }
            }
            .menu{
              width: 600px;
              height: 405px;
              background-color: #fff;
              z-index: 5;
              position: absolute;
              left: 100px;
              top: 10px;
              overflow: hidden;
              font-weight: 100;
              display: none;
              p{
                width: 100%;
                height: 30px;
                text-align: left;
                // background-color: red;
                margin-top: 20px;
                line-height: 30px;
                padding-left: 53px;
              }
              ul{
                li{
                  width: 150px;
                  height: 30px;
                  // margin-top: 10px;
                  font-weight: 100;
                  font-size: 12px;
                  color: rgb(24, 23, 23);
                }
              }
              .pic{
                width: 100%;
                height: 200px;
                position: absolute;
                bottom: 0px;
                ul{
                  li{
                    float: left;
                    margin-left: 50px;
                  }
                  .wo{
                    margin-left: 120px;
                    margin-top: 20px;
                    .wo1{
                      background-color: #fff;
                      width: 200px;
                      font-size: 30px;
                      font-weight: 700;
                      text-align: center;
                    }
                    .wo2{
                      width: 200px;
                      text-align: center;
                      font-size: 20px;
                      background-color: #fff;
                    }
                    span{
                      display: block;
                      width: 100px;
                      height: 30px;
                      border: 1px solid #0c5ca8;
                      border-radius: 15px;
                      text-align: center;
                      line-height: 30px;
                      color: #0c5ca8;
                      font-size: 16px;
                      margin-top: 20px;
                      margin-left: 100px;
                      &:hover{
                        background-color: #0c5ca8;
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
          
        }
      }
    }
    .icon {
      position: absolute;
      right: 200px;
      a {
        margin-left: 20px;
        float: left;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
// banner图
.banner {
  width: 100%;
  background: yellow;
  position: relative;
  overflow: hidden;
  height: 560px;
  .lun {
    height: 560px;
    width: 6140px;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    a {
      float: left;
    }
    img {
      margin: 0;
      padding: 0;
      width: 1535px;
      height: 560px;
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    p {
      background-color: rgba($color: #f6f6f6, $alpha: 0.4);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      img {
        margin-top: 5px;
        margin-left: 10px;
      }
    }
    .leftBn {
      position: absolute;
      left: 50px;
      display: none;
    }
    .rightBn {
      position: absolute;
      left: 1430px;
      display: none;
    }
  }
  .dot {
    position: absolute;
    bottom: 20px;
    left: 50%;

    ul {
      li {
        position: relative;
        float: left;
        margin-left: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        // border: 1px solid #fff;
        span {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #f6f6f6;
        }
      }
    }
  }
}

@mixin tbank {
  width: 1230px;
  height: 900px;
  margin: 0 auto;
}
@mixin bank {
  width: 300px;
  height: 125px;
  color: #000000;
  font-size: 45px;
  text-align: center;
  line-height: 125px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 465px;
}
@mixin ul {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d8d8d8;
}
@mixin li {
  float: left;

  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
}
@mixin p1 {
  width: 100%;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #000000;
}
@mixin p2 {
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  color: #555555;
}
// 内容主题
.tbank {
  @include tbank();
  .bank {
    @include bank();
  }
  .sub {
    ul {
      @include ul();
      li {
        @include li();
        width: 205px;
      }
    }
  }

  .stance {
    margin-top: 40px;
    ul {
      li {
        background-color: #f6f6f6;
        width: 350px;
        height: 324px;
        float: left;
        position: relative;
        transition: all 0.5s;

        &:hover {
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          z-index: 2;
          img {
            transform: scale(1.075);
          }
        }
        img {
          width: 180px;
          height: 180px;
          margin-top: 55px;
          margin-left: 85px;
          transition: all 0.5s;
        }
        .p1 {
          @include p1();
        }
        .p2 {
          @include p2();
        }
        &:nth-child(1) {
          width: 500px;
          height: 648px;
          background-color: #e0e1ef;
          img {
            width: 460px;
            height: 460px;
            margin: 20px 20px;
          }
        }
        &:nth-child(3) {
          background-color: #e0e1ef;
        }
      }
    }
  }
}

// 人气排行
.mood {
  @include tbank();

  .bank {
    @include bank();
  }
  .sub {
    ul {
      @include ul();
      li {
        @include li();
        width: 175px;
      }
    }
  }
  .stance {
    margin-top: 60px;
    ul {
      li {
        background-color: #fff;
        width: 380px;
        height: 600px;
        margin-left: 10px;
        transition: all 0.5s;
        margin-right: 20px;
        float: left;
        position: relative;
        box-shadow: -5px 5px 10px 5px rgba(167, 158, 158, 0.5);

        &:hover {
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          z-index: 2;
          img {
            transform: scale(1.075);
          }
        }
        img {
          width: 340px;
          height: 340px;
          margin-top: 25px;
          margin-left: 20px;
          transition: all 0.5s;
        }
        .p1 {
          @include p1();
        }
        .p2 {
          @include p2();
        }
        .see {
          width: 200px;
          height: 50px;
          // background-color: #000000;
          border: 1px solid #0c5ca8;
          border-radius: 25px;
          text-align: center;
          line-height: 50px;
          font-size: 18px;
          color: #0c5ca8;
          margin-top: 60px;
          margin-left: 95px;
          transition: all 0.5s;
          &:hover {
            box-shadow: 10px 10px 10px rgba(168, 165, 165, 0.5);
          }
        }
        span {
          img {
            width: 50px;
            height: 50px;
            z-index: 2;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }
}
.group {
  @include tbank();
  position: relative;
  height: 750px;
  border-bottom: 1px solid #d8d8d8;

  // background-color: #0c5ca8;
  .act {
    position: relative;
    top: 20px;
    left: 20px;

    img {
      width: 612px;
      height: 378px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.075);
        border-bottom: 10px solid #0c5ca8;
      }
    }
  }
  .house {
    position: absolute;
    right: 20px;
    top: 320px;

    img {
      width: 612px;
      height: 378px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.075);
        border-bottom: 10px solid #0c5ca8;
      }
    }
  }
  h1 {
    @include bank();
  }
  .act1 {
    position: absolute;
    right: 200px;
    top: -20px;
  }
  .house1 {
    position: absolute;
    left: -400px;
    bottom: 200px;
  }
}
// 品牌链接
.conn {
  @include tbank();
  height: 400px;
  h1 {
    @include bank();
  }
  ul {
    margin-top: 50px;
    li {
      margin-left: 15px;
      float: left;
      height: 90px;
      width: 160px;
      background-color: rgb(230, 230, 230);
      position: relative;
      // 六边形
      &::before {
        content: "";
        display: inline-block;
        border-top: 45px solid transparent;
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 45px solid rgb(230, 230, 230);
        position: absolute;
        left: 0;
        top: -100%;
      }
      &::after {
        content: "";
        display: inline-block;
        border-top: 45px solid rgb(230, 230, 230);
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 45px solid transparent;
        position: absolute;
        left: 0;
        bottom: -100%;
      }
     
    }
  }
}


// foot
.foot{
  @include tbank();
  height: 510px;
  background-color: #f8f8f8;
  .footu{
    height: 450px;
    border-bottom: 1px solid #d8d8d8;
    ul{
      li{
        float: left;
        font-size: 16px;
        text-align: center;
        width: 205px;
        height: 80px;
        line-height: 80px;
        // background-color: #0c5ca8;
        font-weight: 600;
        div{
          ul{
            li{
              height: 50px;
              a{
                color: #555555;
                font-weight: 500;
                font-size: 12px;
              }
            }
          }
        }
            
          
      }
    }
  }

  .fot{
    height: 30px;
    margin-top: 20px;
    width: 100%;

    ul{
      li{
        float: left;
        margin-left: 10px;
        a{
          color: #555555;
        }
        span{
          margin-left: 10px;
        }
      }
    }
    span{
      margin-left: 50px;
    }
  }
}
